
@{
    ViewBag.Title = "Index";
}

<h2>@Resources.Views.GeneralResource.GeneralText.ByeText</h2>
@Ajax.ActionLink("mostrar","Hola",new AjaxOptions()
                                      {
                                          HttpMethod = "post",
                                          UpdateTargetId = "m",
                                          InsertionMode = InsertionMode.InsertBefore
                                      })

<div id ="m">
    

</div>









