
@{
    ViewBag.Title = "Index";
}

<h2>@Resources.Views.GeneralResource.GeneralText.ByeText</h2>
<input type="button" id="btn" value="Clickeame" onclick=""/>
<br/>
@Ajax.ActionLink("show","Hola",new AjaxOptions()
                                   {
                                       HttpMethod = "post"
                                   })









